@page "/myprofile"
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Profile</PageTitle>

<div class="pagetitle">
    <h1>
        Profile
    </h1>
</div>

@if (userguid == null && (user == null || user.Name == ""))
{
    <div class="loading">Loading...</div>
}
else if (userguid != null && (user == null || user.Name == ""))
{
    <div class="loading">Invalid login</div>
}
else if (user != null && user.Name != "")
{
    <div class="profilelist">
        
            <div class="profilecontainer">

            <b>Feed</b>
                <div class="innerprofilecontainer">

                    <div class="profilenamecontainer">
                        <div class="profilename"><b>Name: </b>@user.Name</div>
                        <div class="profileimage"><b>Imagecontainer</b><br />@user.Image</div>
                    </div>
                    <div class="profiledescription"><b>Description: </b><p>@user.Description</p></div>
                </div>
            </div>
            <div class="friendlistcontainer">
                <b>Friendlist</b>
                @foreach (var friend in user.Friends)
                {
                    <div class="friendcontainer" @onclick="(() => ClickFriend(friend.UserFriend.Id.ToString()))">
                    <div class="friendimage"><b>Img</b><!--@friend.UserFriend.Image--></div>
                    <div class="friendname"><b>Name: </b>@friend.UserFriend.Name</div>
                    </div>
                }
            </div>
    </div>
}

@code {
    private User? user = new();
    string? userguid;
    private HttpResponseMessage response = new();

    private void ClickFriend(string friendId)
    {
        profileGuid = friendId;

        NavManager.NavigateTo("/userprofile");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            userguid = (await ProtectedSessionStore.GetAsync<string>("login")).Value;
            await RefreshList();
            StateHasChanged();
        }
    }

    private async Task RefreshList()
    {
        //if (myUser.Id.ToString() == userguid) return;
        HttpClient httpClient = new HttpClient();
        response = await httpClient.GetAsync(API_URL + "api/User/" + userguid);
        user = JsonConvert.DeserializeObject<User>(await response.Content.ReadAsStringAsync()) ?? new User();
        httpClient.Dispose();
    }
}