@page "/myprofile"
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Profile</PageTitle>

<div class="pagetitle">
    <h1>
        Profile
    </h1>
</div>

@if (user is null)
{
    <div class="loading">Loading...</div>
}
else if (user.Id == Guid.Empty)
{
    <div class="loading">Something went wrong...</div>
}
else
{
    <div class="profilelist">
        
            <div class="profilecontainer">

            <b>Feed</b>
                <div class="innerprofilecontainer">

                    <div class="profilenamecontainer">
                        <div class="profilename"><b>Name: </b>@user.Name</div>
                        <div class="profileimage"><b>Imagecontainer</b><br />@user.Image</div>
                    </div>
                    <div class="profiledescription"><b>Description: </b><p>@user.Description</p></div>
            </div><div style="display:flex;flex-direction:row;"><input type="text" placeholder="Got something interesting to say?" style="width: 100%;border: 2px black dashed;margin: 20px; margin-bottom: 0px; margin-right: 10px;" /><button style="border: 2px black dashed;margin: 20px 20px 0 0 !important;">Send</button></div>
            </div>
            <div class="friendlistcontainer">
            <b>Friendlist</b><div class="innerfriendlistcontainer" style="overflow: auto;">
                @foreach (var friend in user.Friends)
                {
                    <div class="friendcontainer" @onclick="(() => ClickFriend(friend.UserFriend.Id.ToString()))">
                    <div class="friendimage"><b>Img</b><!--@friend.UserFriend.Image--></div>
                        <div class="friendname" style="align-items: center;"><b>Name: </b>@friend.UserFriend.Name</div>
                    </div>
                }
            </div>
        </div>
    </div>
}

@code {
    private User? user;
    string? userguid;
    private HttpResponseMessage response = new();

    private void ClickFriend(string friendId)
    {
        profileGuid = friendId;

        NavManager.NavigateTo("/userprofile");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            userguid = (await ProtectedSessionStore.GetAsync<string>("login")).Value;
            await RefreshList();
            StateHasChanged();
        }
    }

    private async Task RefreshList()
    {
        HttpClient httpClient = new HttpClient();
        response = await httpClient.GetAsync(API_URL + "api/User/" + userguid);
        user = JsonConvert.DeserializeObject<User>(await response.Content.ReadAsStringAsync()) ?? new User();
        httpClient.Dispose();
    }
}