@page "/userlist"
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Userlist</PageTitle>

<div class="pagetitle">
    <h1>
        Userlist
    </h1>
    <button @onclick="RefreshButton">Magic</button>
</div>

@if (users is null)
{
    <div class="loading">Loading...</div>
}
else if (!users.Any())
{
    <div class="loading">Something went wrong...</div>
}
else
{
    <div class="userlist">
        @foreach (var user in users)
        {
            <button class="usercontainer" @onclick="(() => ClickUser(user.Id.ToString()))">
                <div class="usernamecontainer">
                    <div class="username"><b>Name: </b>@user.Name</div>
                    <div class="userimage"><b>Imagecontainer</b><br />@user.Image</div>
                </div>
                <div class="userdescription"><b>Description: </b><p>@user.Description</p></div>
            </button>
        }
    </div>
}

@code {
    private User? user;
    private IEnumerable<User>? users;
    private HttpResponseMessage response = new();

    private void ClickUser(string userId)
    {
        profileGuid = userId;

        NavManager.NavigateTo("/userprofile");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await RefreshList();
            StateHasChanged();
        }
    }

    private async Task RefreshButton()
    {
        users = null;
        await RefreshList();
    }

    private async Task RefreshList()
    {
        HttpClient httpClient = new HttpClient();
        response = await httpClient.GetAsync(API_URL + "api/User/");
        if (response.IsSuccessStatusCode)
        {
            users = JsonConvert.DeserializeObject<IEnumerable<User>>(await response.Content.ReadAsStringAsync()) ?? new List<User>();
        }
        else
        {
            // exception to show in frontend
        }
        httpClient.Dispose();
    }
}